html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Montserrat", Arial, sans-serif;
  box-sizing: border-box;
}


.hero-section {
  position: relative;
  min-height: 100vh;
  width: 100vw;
  overflow: hidden;
}


.hero-bg {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: opacity 1.5s ease;
  opacity: 0;
  z-index: 0;
}

/* навигация */
nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 36px 48px 0 48px;
  box-sizing: border-box;
  z-index: 2;
}
ul.nav-left {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
}
ul.nav-left li a {
  color: black;
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
}
ul.nav-left li a.active:after,
ul.nav-left li a:hover:after {
  content: "";
  display: block;
  width: 24px;
  margin: auto;
  margin-top: 4px;
  border-bottom: 2px solid #fff;
}
.nav-right {
  display: flex;
  align-items: center;
  gap: 24px;
}
.logo {
  width: 60px;
  margin-bottom: 16px;
}
.brand-text h1 {
  color: black;
  font-weight: 700;
  letter-spacing: 0.18em;
  margin: 10px 0 2px;
  text-align: center;
  font-size: 44px;
}
.brand-text span {
  color: black;
  letter-spacing: 0.24em;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
}


.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 48px;
  height: 48px;
  border: none;
  cursor: pointer;
  background: transparent;
  color: #fff;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.25s, transform 0.25s;
  z-index: 2;
}
.arrow-left {
  left: 24px;
}
.arrow-right {
  right: 24px;
}
.arrow:hover {
  transform: translateY(-50%) scale(1.1);
}
