@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500&display=swap');

body {
  background: #adaa86;
  font-family: 'Montserrat', Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  max-width: 1700px;
  margin: 200px auto 40px;
  padding: 0 30px;
}

.sidebar-menu {
  min-width: 155px;
  margin-right: 54px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 20px;
}

.sidebar-item {
  font-size: 19px;
  color: #151515;
  margin-bottom: 18px;
  cursor: pointer;
  transition: color 0.2s;
}

.sidebar-item.main-title {
  font-size: 23px;
  font-weight: 600;
  margin-bottom: 32px;
  color: #000;
  letter-spacing: 1.8px;
}

.sidebar-item:hover:not(.main-title) {
  color: #D67642;
}

.menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 60px 40px;
  flex: 1;
}

.menu-item {
  background: #adaa86;
  border-radius: 32px;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.menu-item img {
  width: 100%;
  border-radius: 32px;
  display: block;
  aspect-ratio: 4/3;
  object-fit: cover;
}

.menu-info {
  margin-top: 24px;
  padding: 0 12px 8px 6px;
}

.menu-title {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 0.5em;
  color: #222;
}

.menu-desc {
  font-size: 15px;
  color: #8A8A8A;
  margin-bottom: 12px;
}

.menu-price {
  color: #D67642;
  font-size: 20px;
  font-weight: 500;
  margin-top: 0.5em;
}

.badge {
  position: absolute;
  top: 18px;
  right: 18px;
  background: #C04C2E;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  padding: 7px 16px;
  border-radius: 50px;
  z-index: 1;
}

/* @media (max-width: 1100px) {
  .menu {
    grid-template-columns: repeat(2, 1fr);
  }
  .container {
    flex-direction: column;
  }
  .sidebar-menu {
    flex-direction: row;
    margin-right: 0;
    margin-bottom: 24px;
    padding-top: 0;
  }
  .sidebar-item {
    margin-right: 32px;
    margin-bottom: 0;
  }
  .sidebar-item.main-title {
    margin-right: 48px;
    margin-bottom: 0;
  }
} */

@media (max-width: 700px) {
  .menu {
    grid-template-columns: 1fr;
    grid-gap: 32px 0;
    padding: 0 10px;
  }
  .container {
    flex-direction: column;
    padding: 0 7px;
  }
  .sidebar-menu {
    flex-direction: row;
    margin-bottom: 20px;
    margin-right: 0;
    padding-top: 4px;
  }
  .sidebar-item {
    margin-right: 22px;
    font-size: 16px;
  }
  .sidebar-item.main-title {
    font-size: 20px;
    margin-right: 25px;
  }
}

.menu-buttons {
    display: flex;
    align-items: center;
    gap: 6px;
  }
  
  .menu-buttons button {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: none;
    background: #f7d8c0;
    color: #bf624e;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 2s;
  }
  
  .menu-buttons button:hover {
    background: #eab895;
  }
  .menu-buttons span {
    min-width: 22px;
    text-align: center;
    font-size: 18px;
  }


  .add-to-cart-btn {
    margin-top: 10px;
    background-color: #D67642;
    color: #f7d8c0;
    border: none;
    padding: 10px 18px;
    border-radius: 24px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .add-to-cart-btn:hover {
    background-color: #bf5a2c;
  }

  
  